.hamburger {
  display: none;
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  width: 45px;
  height: 35px;
  background: transparent;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__bar {
    display: block;
    width: 100%;
    border-top: 5px solid white;
  }
  &__bar + &__bar {
    margin-top: 0.4em;
  }
}
